// Mixins in here

.btns(@font-color,@bg-color){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 80%;
    height: 18%;

    font-size: 1.8rem;
    text-align: center;
    color: @font-color;
    background-color: @bg-color;
    border-radius: 10px;
    
    @media @mobile{
        margin: 0 auto;
        width: 100%;
        padding: 3% 0;
    }
}

.DisJusAli(@dis,@jus,@ali){
    display: @dis;
    justify-content: @jus;
    align-items: @ali;
}
